
 $mog-maincolor: #38ADC7;
 $welive-maincolor: #232222;
 $clips-maincolor: #0072BA;
 
 $welive-red: #F7323F;
 $welive-lightblue: #67B2E8;
 $welive-green: #B6BD00;
 

 $clips-darkblue: #195DA9;
 $clips-yellow: #F6E92E;

.marketplace-store-portlet {
	
	.template{ display:none!important; }
	#addedTags .chip { margin: 0 5px; }
	.kind-item:hover{ color: $welive-green; }
	.kind-item i.fa{ color: $welive-green; }
	.tabs .fa{ margin-left:4px; }
	.error-msg{
		background-color: $welive-red;
		color: #fff; 
	}
	
	.collapsible .truncate {
	    line-height: 3rem !important;
	}
	
	.align-center-90{ width:90%; margin: 0 auto; }
	.align-center-80{ width:80%; margin: 0 auto; }
	.align-center-70{ width:70%; margin: 0 auto; }
	.align-center-60{ width:60%; margin: 0 auto; }
	.align-center-50{ width:50%; margin: 0 auto; }
	.align-center-40{ width:40%; margin: 0 auto; }
	.align-center-30{ width:30%; margin: 0 auto; }
	.align-center-20{ width:20%; margin: 0 auto; }
	.align-center-10{ width:10%; margin: 0 auto; }
	
	.storeList{ 
		list-style: none; 
		padding: 0;
		margin: 0 !important;
		
		overflow-x: hidden;
		overflow-y: auto;
	}
/* 	.storeList li.market_item{  */
/* 		float: left;  */
/* 		margin: 10px; */
/* 		background: #FFFFFF; */
		
/* 		width:100%;  */
/* 		min-width: 150px; */
/* 		max-width: 260px; */
		
/* 		oveflow: hidden;  */
		
/* 	} */
	
	.market_item#template{ display:none; }
	.storeList li.market_item .art-badge{
		padding:10px;
		border: 1px solid #ccc;
		border-radius: 2px;
		box-shadow: none;
	  	-webkit-box-shadow: none;
	  	-moz-box-shadow: none;
	  	display:block;
	}
	.storeList li.market_item .art-badge:hover{
		box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
	  	-webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
	  	-moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
	}
	.link_art {
	  display: block;
	  outline: medium none;
	  text-align: center;
	  text-decoration: none !important;
	}
	.link_art:hover{
		color: inherit;
		text-decoration: none;
	}
	.link_art span{
		text-align: left;
	}
	.cover_art {

	}	
	.title_art {
	    font-size: 1.2em;
	    display: block;
	    font-weight: 400;
	    max-height: 60px;
	    min-height: 60px;
	}
	
	.li-item {
	    overflow: hidden;
	    display: block;
	    width: 100%;
	    text-transform: unset;
	    padding: 3px 0;
	}
	
	.li-item.type {font-size: .8em;}
	.li-item.recommended {
		display: none;
	    margin-top: 6px;
	    padding: 5px;
	    text-align: center;
	    text-transform: uppercase;
	    opacity: 0;
	    cursor: default;
	}
	.li-item.no-recommended {
	    margin-top: 6px;
	    padding: 5px;
	    text-align: center;
	    cursor: default;

	}
	
	.li-item.other_info {
	    display: inline-flex;
	    display: -webkit-flex;
	    align-items: center;
	    -webkit-align-items: center;
	    justify-content: space-between;
	    -webkit-justify-content: space-between;
	}
	.rating_art {
	    flex-grow: 2;
	    -webkit-flex-grow: 2;
	}
	.level_art {
	    flex-grow: 1;
	    -webkit-flex-grow: 1;
        min-height: 40px;
	}
	.level_img {
	    max-height: 40px;
	}
	
	.provider_art{ font-style: italic; }
	.labelInline {font-weight: 500;}
	
	#filters .collection-item{ height:90px; }

}

/* Add-ons materialize [Nino] */
	.aui .marketplace-store-portlet .materialize .tabs.custom-tabs .tab { min-width: 50px; }
	.aui .marketplace-store-portlet .materialize .mkt-header .row{ margin-bottom: 0px; }
	.aui .marketplace-store-portlet .materialize .row .striped td.col { padding: 10px; }
	.aui .marketplace-store-portlet .materialize .row .col.dashboardsections{ padding: 20px 10px; }
	.aui .marketplace-store-portlet .materialize .tabs{ border-bottom: 1px solid #e0e0e0;  }
/* End Add-ons materialize [Nino] */

.core-1 {
	
	.marketplace-store-portlet{
		h4.sectionTitle {
		  background-color: $mog-maincolor;
		}
		label.sectionTitle {
		  border-bottom: 3px solid $mog-maincolor;
		  color: $mog-maincolor;
		  padding: 0 1rem;
    		min-height: 3rem;
    		border-bottom: 1px solid #ddd;
		}
		#currentCat {
		  border-bottom: 2px solid $mog-maincolor;
		}
		
		.material-design-restyle .dropdown-toggle.direction-down.max-display-items-15, 
		.material-design-restyle .dropdown-toggle.direction-down.max-display-items-15:hover{
			color: #FFFFFF;
		}
	}

}

.core-2 {
	
	.marketplace-store-portlet{
		h4.sectionTitle {
		  background-color: $welive-green;
		}
		.sectionTitle {
/* 		  border-bottom: 1px solid $welive-green; */
		  color: $welive-maincolor;
		  padding: 0 1rem;
    		min-height: 3rem;
    		border-bottom: 1px solid #ddd;
		}
		#currentCat {
		  border-bottom: 2px solid $welive-green;
		}

		.material-design-restyle .dropdown-toggle.direction-down.max-display-items-15, 
		.material-design-restyle .dropdown-toggle.direction-down.max-display-items-15:hover{
			color: #FFFFFF;
		}
	}

}

.core-3 {
	
	.marketplace-store-portlet{
		h4.sectionTitle {
		  background-color: $clips-maincolor;
		}
		label.sectionTitle {
		  border-bottom: 3px solid $clips-maincolor;
		  color: $clips-maincolor;
		  padding: 0 1rem;
   			min-height: 3rem;
			border-bottom: 1px solid #ddd;
		}
		#currentCat {
		  border-bottom: 2px solid $clips-maincolor;
		}
		
		.material-design-restyle .dropdown-toggle.direction-down.max-display-items-15, 
		.material-design-restyle .dropdown-toggle.direction-down.max-display-items-15:hover{
			color: #FFFFFF;
		}
	}

}

/* Head Section*/

.aui .materialize .head-section{
	
	.search-wrapper {
		margin: 0 20%;
		transition: margin .25s ease;
	}
	.search-wrapper.focused {
		margin: 0px;
	}
	
	
	.search-wrapper input#search {
		display: block;
		font-size: 16px;
		font-weight: 300;
		width: 100%;
		height: 45px;
		margin: 0 12px;
		padding: 0 45px 0 15px;
		border: 0;
		transition: width .25s ease;
	}
	
	.search-wrapper i.material-icons {
	    position: absolute;
	    top: 10px;
	    right: 10px;
	    cursor: pointer;
	}
	.search-results {
		margin: 0;
		border-top: 1px solid #e9e9e9;
		background-color: #fff;
	}
	input:not([type])#search {
		background-color: transparent;
		border: none;
		outline: none;
		box-shadow: none;
		box-sizing: content-box;
		transition: all 0.3s;
	}
	
}


/* CARDS (horizontal) */
.aui .materialize .card.horizontal.restyledMKP {
	
	.card-image {
	    max-width: 25%;
	    min-width: 25%;
	}
	.card-image img {
	    max-width: 100%;
	    width: auto;
	    height: 100%;
	    max-height: 232px;
	    border-radius: 2px 0 0 2px;
	    object-fit: cover;
	}
	.card-stacked {
	    max-width: 75%;
	}
	.card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	    color: $welive-lightblue;
	    margin-right: 20px;
	    transition: color .3s ease;
	    text-transform: uppercase;
	}
	
}


/* FILTERS */
.aui .materialize .filter-section{
	.title {
		margin-top: 10px;
		font-size: .8em;
		display: inline-flex;
		align-items: center;
		display: -webkit-inline-flex;
		-webkit-align-items: center;
		
		
	}
	.switch {
	    margin: 15px;
	    display: block;
	}
	.switch label{
		font-size: .8rem !important
	}
	
	.collapsible {
	    box-shadow: none !important;
	    border: 0 !important;
	}
}


