<!--Offering template-->
<blockquote class="dismissable offerings-template hide row description-section" 
			data-modelset="hasServiceOffering" 
			data-itemid="">
			
	<a class="close-icon" href="#"><i class="material-icons">close</i></a>
	<div class="input-field">
		<input type="text" length="50" class="nested-form-field" name="title" value="" placeholder='<liferay-ui:message key="insert-title-here"/>'/>
		<label><liferay-ui:message key="title"/></label>
	</div>
	<div class="input-field">
		<textarea class="nested-form-field materialize-textarea" name="description" placeholder='<liferay-ui:message key="insert-description-here"/>'></textarea>
		<label><liferay-ui:message key="description"/>&nbsp;(<liferay-ui:message key="optional"/>)</label>
	</div>
	<div class="input-field">
		<input type="url" class="nested-form-field" name="url" value="" placeholder="<liferay-ui:message key="insert-url-here"/>"/>
		<label><liferay-ui:message key="url"/>&nbsp;(<liferay-ui:message key="optional"/>)</label>
	</div>
</blockquote>