<!-- Scope Template -->
<div class="scope-template hide col s3 bottom-margin" style="padding-left:2rem;">

	<p style="padding: 1rem 0rem;">
		<input type="checkbox" class="filled-in" id="filled-in-box" />
		<label class="tooltipped scope-id truncate" 
				data-position="top" data-delay="500"
				for="filled-in-box" 
				style="width:100%;"></label>
	</p>
	<div class="scope-desc"></div>
</div>