.publication-wizard-portlet .section-title{
	border-bottom: 3px solid #b6bd00;
    color: #232222
}

.publication-wizard-portlet .upload-wrapper{
	cursor:pointer;
}

.publication-wizard-portlet .gradientshadow{
	background: -webkit-linear-gradient(top, rgba(200,200,200,0), rgba(200,200,200,0.8),rgba(200,200,200,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(200,200,200,0), rgba(200,200,200,0.8),rgba(200,200,200,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(200,200,200,0), rgba(200,200,200,0.8),rgba(200,200,200,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(200,200,200,0), rgba(200,200,200,0.8),rgba(200,200,200,0)); /* Standard syntax (must be last) */
    padding:2px;
}
.publication-wizard-portlet .gradientshadow > div{
	background-color: #fff;
}

.publication-wizard-portlet #centralcontainer blockquote{
	background-color:#fefefe;
	padding: 1.5rem;
}

.publication-wizard-portlet #centralcontainer .form-field{ 
	margin-bottom:0px;
	font-size:1em!important;
}
   
.publication-wizard-portlet #addedTags .chip{
   	margin: 2px 3px;
}
.publication-wizard-portlet #addedTags .chip i{
	height:100%;
}
   
   .publication-wizard-portlet .template, 
   .publication-wizard-portlet .dismissable {
   	position: relative;
   }
   .publication-wizard-portlet .dismissable .close-icon { 
   	position: absolute; 
   	top:0;
   	right:0;
   }
   
   .publication-wizard-portlet li.dismissable{
   	border-left: 5px solid #BDBE0B;
  	}
  	.publication-wizard-portlet li.dismissable .close-icon{
  		bottom:0;
  		right:10px;
  	}
  	
.publication-wizard-portlet .search-wrapper .results{ position:relative; }
.publication-wizard-portlet .search-wrapper .results ul.ui-autocomplete{
  	max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden; 
  	position:absolute; 
  	border-radius:2px;
  	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.publication-wizard-portlet .materialize .search-wrapper .results .collection .collection-item.avatar{ min-height:auto; }
.publication-wizard-portlet .materialize .search-wrapper .results .collection .collection-item.avatar .title{ font-size:0.9em; }
.publication-wizard-portlet .materialize .search-wrapper .results .collection .collection-item.avatar .type{ font-size:0.7em; }

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.collection.ui-widget-content .ui-state-focus{
	background:#efefef;
	border:none;
	border-bottom:1px solid #e0e0e0;
}

.publication-wizard-portlet .materialize #intpoint .modal.highermodal{
	height:90%;
	max-height:90%;
    width: 90%;
    max-width: 90%;
	top:5% !important;
}

.aui .publication-wizard-portlet .materialize .modal#descriptorModal .modal-footer .btn.modal-action{
	margin-left:5px;
}


.publication-wizard-portlet li.card.gallery-item{
	margin: 10px 0.75rem;
    padding: 0px;
}

.publication-wizard-portlet li.card.gallery-item .imgGalleryContent {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 60px;
}
