/* NAV */
nav {
  background: white; }

nav ul a {
  /*color: black !important;*/ }

.brand-logo {
  color: black !important; }

/* GENERAL */
hr {
  background: #b6bd00;
  height: 3px;
  border-style: none; }

footer {
  background: #6fafda !important; }

.fab-fixed-button {
  background-color: #6FAFDA !important; }

.tabs li a {
  color: gray !important; }

.tabs li a.active {
  color: #b71c1c !important; }

.tabContainer {
  padding: 1em !important; }

/* ALERTS */
.alert-success {
  background: #c5e1a5; }

.alert-error {
  background: #e53935;
  color: white !important; }

.alert-warning {
  background: #ffe082; }

/* ICONS */
.delete-icon {
  color: #d50000; }

.list-action-icon {
  margin: 0.5em; }

/* SERVICE CATALOG DETAIL */
.opContainer {
  padding: 1em; }

.opSection {
  font-size: 1.2em; }

.opPath {
  font-size: 1.2em; }

.opName {
  font-size: 1.2em; }

.opMethod {
  color: black;
  margin-right: 10px !important;
  padding: 5px;
  border-radius: 5px; }

.opMethod_GET {
  background: #01579b !important;
  color: white !important; }

.opMethod_POST {
  background: #1b5e20 !important;
  color: white !important; }

.opMethod_PUT {
  background: #f57f17 !important;
  color: white !important; }

.opMethod_DELETE {
  background: #b71c1c !important;
  color: white !important; }

