.marketplace-store-portlet .artefactTitle {
  font-size: 2.28rem;
  line-height: 3rem;
  padding: 0 1rem;
  min-height: 3rem;
  border-bottom: 1px solid #ddd; }

.marketplace-store-portlet .nav-button {
  margin-top: 20px; }

.marketplace-store-portlet .grid-container {
  margin: 30px 0; }

/* 	.marketplace-store-portlet .action_button{ */
/* 		width:100%; */
/* 		display:block; */
/* 	} */
/* 	.marketplace-store-portlet .action_button > a{ */
/* 		display:block; */
/* 		text-decoration:none; */
/* 	} */
.marketplace-store-portlet .buttonsDiv {
  margin: 10px 20px; }

.marketplace-store-portlet #installButton {
  margin: -12px 20px; }

.marketplace-store-portlet #download {
  height: 60px;
  width: 100%;
  line-height: 60px; }

.core-1 .marketplace-store-portlet #download {
  background: #38adc7; }

.core-2 .marketplace-store-portlet #download {
  background: #B6BD00; }

.marketplace-store-portlet #download > a {
  color: #fff;
  text-align: center;
  font-size: 40px; }

/* 	.marketplace-store-portlet #clipboard{ */
/* 		height:20px; */
/* 		width:100%; */
/* 		background: #1d4986; */
/* 		line-height:20px; */
/* 	} */
/* 	.marketplace-store-portlet #clipboard > a{ */
/* 		text-align:center;  */
/* 		color: #fff; */
/* 	} */
/* ******* Left Info Section ******* */
.marketplace-store-portlet .leftsection {
  /* 	  margin: 0 auto; */
  /* 	  text-align: center; */ }

.marketplace-store-portlet #llbar {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* 	  width: 100%; */ }

.marketplace-store-portlet .divImgCover {
  display: inline-block;
  padding: 15px;
  width: auto; }

.marketplace-store-portlet img#cover {
  border: 1px solid #ddd;
  height: 150px;
  max-height: 150px;
  max-width: 150px;
  padding: 15px;
  vertical-align: middle;
  width: 150px; }

.marketplace-store-portlet .divInfoFact {
  display: inline-block;
  margin: 0 10px;
  padding: 20px 0;
  vertical-align: top;
  width: auto; }

.marketplace-store-portlet #more {
  margin: 0;
  text-align: left; }

.marketplace-store-portlet .inlineLbl {
  color: #232222;
  display: inline-block;
  font-style: normal;
  font-weight: 500; }

.marketplace-store-portlet .mailTo::after {
  content: "\f0e0";
  font-family: fontawesome-alloy;
  font-style: normal;
  padding: 0px 10px; }

.marketplace-store-portlet .tagsCollection {
  display: block;
  margin: 20px 0; }

.marketplace-store-portlet .tag {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

/* ******* Rating Stars ******* */
.marketplace-store-portlet #caption {
  display: inline-block;
  margin: 0;
  text-align: left;
  vertical-align: top;
  width: 100%; }

.marketplace-store-portlet .taglib-ratings.stars {
  overflow: auto;
  margin: 20px 0 30px;
  padding-top: 0px;
  /* 		text-align: center; */ }

.marketplace-store-portlet .taglib-ratings.stars > div {
  margin-bottom: 10px;
  padding-left: 0px !important;
  padding-right: 20px !important; }

.marketplace-store-portlet .taglib-ratings.stars .liferay-rating-vote,
.marketplace-store-portlet .taglib-ratings.stars .liferay-rating-score {
  display: inline-block;
  float: none; }

.marketplace-store-portlet a.rating-element.icon-star-empty,
.marketplace-store-portlet a.rating-element.icon-star {
  color: gold; }

.marketplace-store-portlet #ratingBadge {
  display: block;
  height: 150px;
  width: 100%;
  overflow: hidden; }

.marketplace-store-portlet #ratingBadge > div:first-child {
  width: 30%;
  margin-top: 42px; }

.marketplace-store-portlet #ratingBadge > div:first-child > h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.marketplace-store-portlet #ratingBadge > div:first-child > div {
  width: 90px;
  margin: 0 auto; }

.marketplace-store-portlet #ratingBadge > div:last-child {
  width: 70%;
  margin-top: 10px; }

.marketplace-store-portlet .barra {
  margin: 1px !important;
  width: 100%;
  height: 15px; }

.marketplace-store-portlet .barra span {
  height: 100%;
  display: inline-block; }

.marketplace-store-portlet .histLabel {
  width: 30%;
  float: left;
  text-align: right; }

.marketplace-store-portlet .histBar {
  width: 69%;
  display: inline;
  float: left;
  line-height: 1em;
  margin-left: 1%; }

.marketplace-store-portlet .histBar > span {
  color: #333;
  font-size: 0.8em;
  text-indent: 3px; }

.marketplace-store-portlet .fraction {
  font-size: 0.8em;
  vertical-align: sub; }

.marketplace-store-portlet .viewSection {
  padding-bottom: 0px; }

.marketplace-store-portlet .generic_item {
  padding-bottom: 10px; }

.marketplace-store-portlet .generic_item:last-child {
  padding-bottom: 0px; }

.marketplace-store-portlet .over {
  z-index: 11 !important; }

.marketplace-store-portlet #modal > :first-child {
  z-index: 10 !important; }

.marketplace-store-portlet .deactivate {
  background: #e0e0e0;
  cursor: default; }

#my-rating .fa {
  cursor: pointer; }

/* ******* Carousel ******* */
.marketplace-store-portlet #carosello-container {
  /* 	float:right; overflow: auto; margin-top:5px; margin-bottom:30px; max-width:100%; */ }

.marketplace-store-portlet #carosello {
  /* border-bottom: 1px solid #ddd; */
  height: 50px;
  line-height: 1;
  margin-bottom: 40px;
  min-height: 12em;
  position: relative;
  width: 100%;
  padding: 15px 0; }

/* ---- */
.marketplace-store-portlet #carosello-container .carousel {
  height: 100%;
  line-height: 1;
  margin-bottom: 0;
  min-height: 100%;
  position: relative; }

.marketplace-store-portlet #carosello-container .carousel menu {
  background: transparent none repeat scroll 0 0;
  border-radius: 0;
  border-top: 1px solid #ddd;
  bottom: -50px;
  left: 0;
  list-style: outside none none;
  margin: -16px;
  padding: 8px;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 4; }

.marketplace-store-portlet #carosello-container .carousel-item {
  background-color: #fff !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  height: 100%;
  width: 100%; }

.marketplace-store-portlet #carosello-container .carousel menu li, .carousel menu a {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  vertical-align: middle; }

.marketplace-store-portlet #carosello-container .carousel menu li {
  margin: 0 3px;
  float: none; }

.marketplace-store-portlet #carosello-container .carousel menu a {
  border: 2px solid #444;
  border-radius: 50% !important;
  vertical-align: middle; }

.marketplace-store-portlet .slides img {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-color: #fefefe; }

/* ******* Tabs Panel ******* */
.marketplace-store-portlet .responsiveTabs {
  flex-wrap: wrap;
  height: auto; }

.marketplace-store-portlet .panelContentTab {
  padding: 20px; }

.marketplace-store-portlet .panelContentTab div {
  margin: 10px 0; }

.marketplace-store-portlet .panelContentTab .titlePoint > a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px; }

.marketplace-store-portlet .panelContentTab > span.titlePoint::after {
  content: "\f08e";
  font-family: fontawesome-alloy;
  padding: 0 10px; }

.marketplace-store-portlet .materialize a.carousel-item {
  padding: 5px; }

.marketplace-store-portlet .materialize .image-wrapper {
  background-position: 50%;
  background-size: cover;
  display: block;
  height: 190px;
  width: 190px; }

.marketplace-store-portlet .materialize .title-wrapper {
  padding: 5px; }

/* ****** Recommended ****** */
.marketplace-store-portlet .sectionRecommends {
  padding: 1rem; }

.marketplace-store-portlet .collection-item i.typename {
  font-size: .8em; }

/* ****** Dependency ****** */
.marketplace-store-portlet .dependencyitem .art-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 150px; }

/* ****** Operations ****** */
.marketplace-store-portlet .resumedOpPath {
  word-wrap: break-word;
  padding: 0 0 2rem !important; }

.marketplace-store-portlet .opSectionContent {
  padding: 1em 0; }

