<!-- Modal Structure -->
<div id="modal3" class="modal modal-fixed-footer highermodal">
	<div class="modal-content">
		<div class="row">
			<h4 class="modal-title"><b><liferay-ui:message key="securities"/></b>&nbsp;-&nbsp;<em class="param_opname"></em></h4>
		</div>
		<!-- <div class="row">
			<div class="col s12">
			  <ul class="tabs">
				<li class="tab col s3"><a href="#securitygeneral"><liferay-ui:message key="general"/></a></li>
				<li class="tab col s3"><a href="#securityscopes"><liferay-ui:message key="lusdl.scopes"/></a></li>
			  </ul>
			</div>
		</div>  -->
		
		<form action="javascript:void(0);" id="modal3form">
			<div class="row">
				<div id="securitygeneral" class="col s12">
					<div class="row securities-description">
						<p>Seleziona il tipo di autenticazione richiesto dall'Operation</p>
					<!-- 	<div class="row">
							<p class="col s12">
							  <input type="checkbox" class="filled-in" id="open-service" checked required/>
							  <label for="open-service"><liferay-ui:message key="open-service"/></label>
							</p>
						</div>
						 -->
						<div class="row">
							<div class="col s12 m4 l3">
								<label><liferay-ui:message key="protocol-type"/></label>
								<select class="securities-field browser-default" name="protocolType" data-enum="ProtocolType" id="protocol-select" > <!-- disabled -->
									<option value="NONE" selected="selected"><liferay-ui:message key="none"/></option>
									<option value="OAUTH2">WeLive Authentication (OAuth 2.0 Based)</option>
									<option value="OPENID">OpenID</option>
									<option value="CAS">CAS</option>
									<option value="BASIC">Basic Authentication</option>
									<option value="SHIBBOLETH">Shibboleth</option>
								</select>
							</div>							 
						</div>
						<div id="security-input" hidden>
							<div class="row">
								<div class="input-field col s12 m8 l9">
									<input placeholder="Name" id="sec_title" type="text" class="securities-field" name="title"> <!-- disabled -->
									<label for="sec_title"><liferay-ui:message key="title"/></label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12"><!-- textarea disabled -->
									<textarea id="sec_description" class="materialize-textarea securities-field" name="description" > 
									</textarea>
									<label for="sec_description"><liferay-ui:message key="description"/> (<liferay-ui:message key="optional"/>)</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="securityscopes" class="col s12" hidden>
					<p>Seleziona i diritti richiesti dall'Operation</p>
					<input type="checkbox" name="scopeCheck" id="scope_check" hidden>
					<!--  <liferay-ui:message key="endpoint-security-scope"/>  -->
					<ul class="row scopelist collapsible" data-collapsible="accordion">
						<!-- The scope accordions list goes here -->
				  	</ul>
				</div>
			</div>
			
			<button class="submit-button hide" type="submit">submit</button>
		</form>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0);" class="modal-action waves-effect waves-green btn-flat dummy-btn"><liferay-ui:message key="done"/></a>
		<a href="javascript:void(0);" class="hide modal-action modal-close waves-effect waves-green btn-flat ">CompleteEventTrigger</a>
	</div>
</div>

<script>

	var g_permissions = null;
	
	function clearScopes(){
		$('#modal3').find('.scopelist li').remove();
	}
	
	jQuery(document).on('click', '#modal3 .modal-footer .dummy-btn', function(){
		var form = jQuery('#modal3 form');
		var correctAuth = false;
		//TODO Bloccava la modale nel caso di pre-caricamento della security da swagger
		//if (!form[0].checkValidity()) {
		//	form.find('.submit-button').click();
		//	return false;
		//}
					
		//$('#modal3').closeModal(); Doesn't work. 
		//I have to put a modal-close classed button to trigger the modal-closure-complete event handler
		//and simulate a click on it
		$(this).parent().find('.modal-close').click();
		
		if(!(modal.focusedmodel.hasSecurityMeasure == null || typeof modal.focusedmodel.hasSecurityMeasure === 'undefined') && (
		    	modal.focusedmodel.hasSecurityMeasure.protocolType == "OAUTH2" ||
				modal.focusedmodel.hasSecurityMeasure.protocolType == "BASIC" ||
				modal.focusedmodel.hasSecurityMeasure.protocolType == "SHIBBOLETH" )
		) {
			for(var i in modal.focusedmodel.hasInput) {
				var input = modal.focusedmodel.hasInput[i];
				if(input._in == "header" && input.type =="string" && input.name.toLowerCase() == "authorization") {
					correctAuth = true;
				}
			}
			
			if(!correctAuth) {				
				//alert("In order to get a good described artefact, you should insert an \"authorization\" header parameter for the selected authorization protocol");
			}
			
			if(modal.focusedmodel.hasSecurityMeasure.protocolType == "OAUTH2" && !$('#scope_check').is(':checked')) {
				//alert("va inserito almeno uno scope");
				return false;
			}
		}
	});
	
	$(document).on('input change', '.securities-field', function(){
		var self = $(this);
		var name = self.attr('name');
		var value = self.val()||self.text();
		if(modal.focusedmodel.hasSecurityMeasure == null 
				|| typeof modal.focusedmodel.hasSecurityMeasure === 'undefined'){
			modal.focusedmodel.hasSecurityMeasure = new AuthenticationMeasure();
		}
		modal.focusedmodel.hasSecurityMeasure[name] = value;
	});
	
	$(document).on('change', '#protocol-select', function() {
		var self = $(this);
		var name = self.attr('name');
		var value = self.val()||self.text();
		if(value == "NONE") {
			if(modal.cache == null || typeof modal.cache === 'undefined'){
				modal.cache = new Object();
			}
						
			modal.cache.securitymeasure = modal.focusedmodel.hasSecurityMeasure;
			delete modal.focusedmodel.hasSecurityMeasure;
			modal.focusedmodel.hasSecurityMeasure = null;
			$("#security-input").attr("hidden", true);
			//Svuoto gli input
			$('#sec_title').val("");
			$('#sec_description').val("");
			$('#modal3 .scopelist li input[type="checkbox"]').prop("checked",false);
			$(this).closest('#securitygeneral').find('input[name="title"]').prop('required',false);
			$('#scope_check').prop("required",false);

		} else {
			//Abilitare gli input
			$("#security-input").attr("hidden", false);
			
			//$(this).closest('#securitygeneral').find('input[name="title"]').prop('required',true);
		}
		
		if(value == "OAUTH2") {
			//Abilitare scope
			$("#securityscopes").attr("hidden", false);
			$('#scope_check').prop("required",true);
		} else {
			$("#securityscopes").attr("hidden", true);			
			$('#modal3 .modal-footer .dummy-btn').attr("hidden",false);
			if(value!= "NONE") {
				modal.focusedmodel.hasSecurityMeasure.requires = new Array(); //Empty scopes
				$('#modal3 .scopelist li input[type="checkbox"]').prop("checked",false);
				$('#scope_check').prop("required",false);
			}
		}
	});
	
	$(document).on('change', '#modal3 .scopelist li input[type="checkbox"]', function(){
		var self = $(this);
		console.log(self);
		var id = self.val();
		
		console.log(id);
		
		if(self.is(':checked')){
			var accesstype = self.attr('data-accesstype');
			var description = self.closest('div').find('.scope-desc').first().text();
			console.log(description);
			
			var p = new Permission();
			p.title = id;
			p.identifier = id;
			p.description = description;
			
			p.accessType = AccessType[accesstype];
			
			modal.focusedmodel.hasSecurityMeasure.requires.push(p);
			
		}
		else{
// 			console.log("removing: "+id);

			for(var i in modal.focusedmodel.hasSecurityMeasure.requires){
				if(modal.focusedmodel.hasSecurityMeasure.requires[i].identifier == id){
					modal.focusedmodel.hasSecurityMeasure.requires.splice(i,1);
				}
			}
		}
		
		if(modal.focusedmodel.hasSecurityMeasure.requires.length > 0) {
			$('#scope_check').prop('checked',true);
		} else {
			$('#scope_check').prop('checked',false);
		}
	});
/*	
	$(document).on('change', '#open-service', function(){
		
		if($(this).is(':checked')){
			$(this).prop('required', true);
			$(this).closest('#securitygeneral').find('select[name="protocolType"]').prop('required',false);
			
			//Disable the inputs and textareas of the "General" section and the scopes checkboxes
			$('#securitygeneral').find('input, select, textarea').not($(this)).prop('disabled', true);
			$('#securityscopes').find('input[type="checkbox"]').prop('disabled', true);
			
			if(modal.cache == null || typeof modal.cache === 'undefined'){
				modal.cache = new Object();
			}
			modal.cache.securitymeasure = modal.focusedmodel.hasSecurityMeasure;
			delete modal.focusedmodel.hasSecurityMeasure;
			modal.focusedmodel.hasSecurityMeasure = null;
		}
		else{
			$(this).prop('required', false);
			$(this).closest('#securitygeneral').find('select[name="protocolType"]').prop('required',true);
			
			//Enable the fields of the "General" section and the scopes checkboxes
			$('#securitygeneral').find('input, select, textarea').prop('disabled', false);
			$('#securityscopes').find('input[type="checkbox"]').prop('disabled', false);
			
			var notDefined = modal.focusedmodel.hasSecurityMeasure == null || typeof modal.focusedmodel.hasSecurityMeasure === 'undefined';
			var notCached = modal.cache == null || typeof modal.cache === 'undefined' || modal.cache.securitymeasure == null || typeof modal.cache.securitymeasure === 'undefined';
			
			if(notDefined){
				if(notCached){
					modal.focusedmodel.hasSecurityMeasure = new AuthenticationMeasure();
				}
				else{
					modal.focusedmodel.hasSecurityMeasure = modal.cache.securitymeasure;
					delete modal.cache.securitymeasure;
				}
			} 
		}
	});
*/	
	$(document).on('click', '.scopelist .collapsible-header', function(){		
		if($(this).attr('data-loaded')){
			return;
		}
		var li = $(this).parent();
		var permid = parseInt(li.attr('data-permid'));
		var scopes = intpoint.g_permissions.permissions[permid].scopes;
		
		appendscopes(scopes, li.find('.collapsible-body'));
		inittooltips(li);
		li.find('.fa-spinner').addClass('hide');
		$(this).attr('data-loaded', true);
		
		var secmeasure = modal.focusedmodel.hasSecurityMeasure;
		if(secmeasure != null && !(typeof secmeasure === 'undefined') && secmeasure.requires != null && !(typeof secmeasure.requires === 'undefined')){
			for(var i in secmeasure.requires){
				li.find('.collapsible-body').find('#'+secmeasure.requires[i].identifier.replace(/\./gi, "")).prop('checked', true);
			}
		}
	});
</script>
